.b-hero{
    background:grey;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    position: relative;
    &__subtitle{
        position: relative;
        z-index:2;
    }
    &__background{
        position: absolute;
        inset:0;
        z-index:1;
        background-image:url("../../assets/images/mobile/image-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

