@use '../../assets/sass/utilities/index' as util;
.b-navigation{
    position: absolute;
    z-index:3;
    right:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include util.container-sm;
    
    &__logo{
        
        img{
            display: block;
            width:150px;
        }
    }

    &__list{
        display: none;
        list-style-type: none;

        &.show{
            position: fixed;
            z-index:4;
            top:0;
            left:0;
            right:0;
            height:100vh;
            background:black;
            display:block;
            @include util.container-sm;

            .b-navigation__list__header{
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom:10em;

                button{
                    
                    border: none;
                    img{
                        display: block;
                        background:black;
                    }
                }
            }
            .b-navigation__list__item{
                margin-bottom:1.5em;
            }
        }
        &__item{
            width: fit-content;
            &:hover{
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    right:0;
                    left:0;
                    bottom:-5px;
                    margin:auto;
                    width:25px;
                    height:2px;
                    background:white;
                    transform: scaleX(0); 
                    transform-origin: left; 
                    animation: expandScale 0.2s ease-in-out forwards; 
    
                }
            }
            a{
                color:white;
            }
        }
    }

    &__burgerBTN{
        background:transparent;
        border: none;
    }
}

@media (min-width:768px){
    .b-navigation{
        // @include util.container-md;    
        &__burgerBTN{
            display: none;
            background:red;
        }
        &__list{
            display:flex;

            &__item{
                margin-right:1rem;
                &:last-child{
                    margin-right:0;
                }
            }

            &__header{
                display: none;
            }
        }
  
    }
}


@media (min-width:768px){
    .b-navigation{

        &__list{

            &__item{
                margin-right:1.5rem;
            }

        }
  
    }
}
@media (min-width:1024px){
    .b-navigation{
        padding-top:4em;

        &__logo{

            img{
                width:180px;
            }
        }
        
        &__list{

            &__item{
                margin-right:1.5rem;
            }

        }
  
    }
}

@media (min-width:1440px){
    .b-navigation{
        &__list{
            &__item{
                margin-right:2.5rem;
            }

        }
  
    }
}


@keyframes expandScale {
    0% {
        transform: scaleX(0); // Start at scale 0
    }
    100% {
        transform: scaleX(1); // Scale to full width
    }
}