@use '../../assets/sass/utilities/index' as util;
.b-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include util.container-sm;

    &__logo{
        
        img{
            display: block;
            width:120px;
        }
    }

    &__list{
        display: none;
        list-style-type: none;

        &.show{
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            background:black;
            display:block;
            @include util.container-sm;

            .b-navigation__list__header{
                display:flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom:10em;

                button{
                    
                    border: none;
                    img{
                        display: block;
                        background:black;
                    }
                }
            }
            .b-navigation__list__item{
                margin-bottom:1.5em;
            }
        }
        &__item{

            a{
                color:white;
            }
        }
    }

    &__burgerBTN{
        background:transparent;
        border: none;
    }
}

@media (min-width:768px){
    .b-navigation{
        // @include util.container-md;    
        &__burgerBTN{
            display: none;
            background:red;
        }
        &__list{
            display:flex;

            &__item{
                margin-right:1rem;
                &:last-child{
                    margin-right:0;
                }
            }

            &__header{
                display: none;
            }
        }
  
    }
}


@media (min-width:768px){
    .b-navigation{
        &__list{

            &__item{
                margin-right:1.5rem;
            }

        }
  
    }
}
@media (min-width:1024px){
    .b-navigation{
        padding-top:4em;
        &__list{

            &__item{
                margin-right:1.5rem;
            }

        }
  
    }
}