@use './base/index' as base;
@use './utilities/index' as util;

*, *::before, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:base.$color-black;
    background:base.$color-white;
}

// main{
//     position: absolute;
//     top:0;
//     left:0;
//     width:100%;
//     z-index:-1;
// }